// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$card-border-radius: 10px;
$body-font-family: 'Lato';
$btn-text-transform: none;

@import '~vuetify/src/styles/styles.sass';
