// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$card-border-radius: 10px;
$btn-text-transform: none;
$overflow-input-slot-border-width: 0;

@import '~vuetify/src/styles/styles.sass';
